<!DOCTYPE html >
<html>
<head>
  <title>Meadowlark Travel</title>
  {{{_sections.head}}}
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{{body}}}
  <script src="/js/jquery.js"></script>
  {{{_sections.jquery}}}
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
