{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <meta name="robots" content="noindes">
{{/section}}

<h1>Test Page</h1>
<p>We're testing some Jquery stuff.</p>

{{#section 'jquery'}}
    <script>
        $('docuemnt').ready(function(){
            $('h1').html('jQuery Works');
        });
    </script>
{{/section}}
